<h1>{{ question.title }}</h1>
<p>{{ question.description }}</p>
<p>Tags:
{% for tag in question.tags.all %}
<span>{{ tag.name }}</span>
{% endfor %}
</p>
<h3>Answers</h3>
{% for answer in answers %}
<div>
    <p>{{ answer.content }}</p>
    <p>By {{ answer.author.username }}</p>
    <p>Votes: Up-{{ answer.upvotes }} Down-{{ answer.downvotes }}</p>
    {% if user.is_authenticated %}
        <a href="{% url 'vote_answer' answer.id 1 %}">Upvote</a>
        <a href="{% url 'vote_answer' answer.id -1 %}">Downvote</a>
        {% if question.author == user and question.accepted_answer != answer %}
            <a href="{% url 'accept_answer' answer.id %}">Accept</a>
        {% endif %}
    {% endif %}
</div>
{% endfor %}
{% if user.is_authenticated %}
<h3>Your Answer</h3>
<form method="post" action="{% url 'post_answer' question.id %}">
    {% csrf_token %}
    {{ answer_form.as_p }}
    <button type="submit">Post Answer</button>
</form>
{% endif %}
